/*Codes By Mahdi Tasha*/
/*Importing Font*/
@import "../font/font.css";

/*Variables*/
:root {
    --my-grey: #4F5665;
    --my-orange: #D85B28;
    --my-dark-blue: #0B132A;
}

/*Defualt Styles*/
button {
    transition: .3s;
    cursor: pointer;
}

body {
    font-size: 12px;
    font-family: 'Rubik' ,sans-serif !important;
    overflow-x: hidden;
}

/*For Debugging Purpose*/
body:last-child {
    margin-bottom: 200vh;
}

/*Styles*/
.text-my-grey {color: var(--my-grey);}
.text-my-dark-blue {color: var(--my-dark-blue);}
.border-my-orange {border: 1px solid var(--my-orange);}
.text-my-orange {color: var(--my-orange);}
.bg-my-orange {background-color: var(--my-orange);}
.first-section-footer, .footer-top-side {box-shadow: 0 30px 30px rgba(13, 16, 37, .06);}
.third-section-bottom-items-holder > .third-section-bottom-item:first-of-type {background-image: url("../img/home/third-section/item-1/bg-1.png");}
.third-section-bottom-items-holder > .third-section-bottom-item:nth-of-type(2) {background-image: url("../img/home/third-section/item-2/bg-2.png");}
.third-section-bottom-items-holder > .third-section-bottom-item:nth-of-type(3) {background-image: url("../img/home/third-section/item-3/bg-3.png");}
.third-section-bottom-items-holder > .third-section-bottom-item:last-of-type {background-image: url("../img/home/third-section/item-4/bg-4.png");}
.home-swiper .swiper-slide {transition: .3s}
:is(.home-swiper-prev-btn, .home-swiper-next-btn).active {background-color: var(--my-orange);border-color: var(--my-orange)}
:is(.home-swiper-prev-btn, .home-swiper-next-btn).active svg path{fill: white}
:is(.home-swiper-prev-btn, .home-swiper-next-btn):not(.active) {background-color: white;border-color: var(--my-orange)}
:is(.home-swiper-prev-btn, .home-swiper-next-btn):not(.active) svg path{fill: var(--my-orange)}
.footer-top-side {transform: translateY(-80px);}
.squar-size {width: 40px;}
.border-my-dark-blue {border: 1px solid var(--my-dark-blue)}
#mobile-nav-dark-bg {background-color: rgba(0,0,0,.5);transition: .3s;}
#mobile-nav {transition: .3s;animation-timing-function: cubic-bezier(.4,0,.2,1)}
#mobile-nav-holder[opened] > #mobile-nav-dark-bg{opacity: 1;pointer-events: visible;}
#mobile-nav-holder:not([opened]) > #mobile-nav-dark-bg{opacity: 0;pointer-events: none;}
#mobile-nav-holder[opened] > #mobile-nav{left: 0;}
#mobile-nav-holder:not([opened]) > #mobile-nav{left: -75%;}

.third-section-bottom-items-holder > .third-section-bottom-item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home-swiper-pagination {
    height: 15px;
    transition: .3s;
    border-radius: 20px;
}

.home-swiper-pagination:not(.active) {
    width: 15px;
    background-color: #DDE0E4;
}

.home-swiper-pagination.active {
    background-color: var(--my-orange);
    width: 30px;
}

.home-swiper-prev-btn, .home-swiper-next-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid;
}

body > footer {
    background-color: #F8F8F8;
    margin-top: 10rem;
}

/*Hover, Active, ...*/
.home-swiper .swiper-slide:hover {border-color: var(--my-orange) !important;}
button.bg-transparent.text-my-orange:hover {background-color: var(--my-orange) !important;color: white !important;}
button.bg-transparent.text-my-dark-blue:hover {background-color: var(--my-dark-blue) !important;color: white !important;}

/*Media Querys*/
@media (max-width: 991px) {  .border-end-mq-991-0.border-end {border-right: none !important;}  }